<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include ('partials/head.ejs')%>
</head>
<body>
    <%- include ('partials/navigation.ejs')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident porro, deleniti amet qui asperiores quos veniam? Iste dolore dicta, numquam fugit eum nisi ratione unde eaque cumque voluptate perspiciatis minus?
                Animi a consequuntur dignissimos veritatis quis, eligendi itaque natus voluptatum quam reprehenderit suscipit, ducimus doloremque, odio cumque asperiores rerum? Dolores modi pariatur, eius tempora esse blanditiis itaque aperiam molestias voluptate!
                Natus aliquid quo, suscipit distinctio inventore repellendus quos facilis rem labore eveniet, repudiandae aliquam sapiente nesciunt aperiam vel quas provident vitae dolore nobis! Repudiandae maiores eligendi qui impedit voluptas consequatur!
                Dolores tenetur debitis harum aut quisquam natus asperiores mollitia unde itaque, odio, perspiciatis voluptates quidem nam dicta nostrum blanditiis, molestiae porro repudiandae aliquid vitae ab? Omnis, impedit? Iure, quis assumenda.
                Impedit consectetur dolores asperiores voluptates dicta tempore fuga iusto! Culpa dolore sint iure quas placeat ipsam. Quos sed distinctio laudantium, fuga sunt voluptatum quam delectus deserunt, obcaecati id magnam? Ut.
                Aliquam non rem impedit voluptatum. Magni ad repellat molestiae numquam fugiat, recusandae vitae consequatur repellendus amet quis mollitia, sequi laborum quia totam? Asperiores laborum error temporibus deserunt recusandae? Neque, magni!
                Mollitia minus iure cumque repellendus saepe dolorum ad? Obcaecati fugit reprehenderit dicta, eveniet magnam doloremque explicabo, sapiente temporibus cum maxime quaerat dolorum neque dolorem accusamus nesciunt, distinctio id eos aliquid?
                Aspernatur omnis eius earum iusto a quisquam labore similique, corporis quibusdam, nesciunt dolore distinctio amet unde. Quis, mollitia? Architecto necessitatibus, voluptates consectetur provident magnam nesciunt quidem debitis nobis repudiandae vitae!
                Aspernatur laboriosam vero magnam, sunt suscipit quo ullam consectetur laudantium commodi odit reiciendis fugiat saepe nisi illo tempore dolorum corrupti enim nemo cum eligendi quis. Quaerat autem architecto ipsum odio.
                Ratione architecto blanditiis praesentium dolore accusamus perspiciatis eveniet nulla non aliquam consequatur libero, tenetur temporibus corrupti asperiores minima sunt deserunt quisquam quidem. Provident, quis velit cupiditate perferendis corrupti doloribus assumenda!
                Debitis laborum quasi placeat iusto doloremque amet aperiam, corporis, rerum officiis aliquid exercitationem? Quidem nostrum ratione at iste cupiditate quasi illo dignissimos quas eligendi vel numquam, rem sed vero distinctio.
                Sapiente nulla illum accusantium voluptatibus dicta sint, nesciunt aliquid quos. Vel, dolor maiores. Esse delectus reprehenderit adipisci, ad et ipsam iste provident sit quisquam doloribus consequatur aspernatur eveniet incidunt sequi!
                Id quas accusamus laborum nesciunt tempora similique aspernatur accusantium consectetur tenetur exercitationem! Quisquam eaque consequatur voluptatum ipsum! Consequuntur aperiam praesentium, debitis non, inventore fugit quibusdam sapiente distinctio nemo ipsam amet.
                Repellendus ea commodi autem nihil. Reiciendis quis aspernatur ad voluptate blanditiis alias cum assumenda architecto. Dolorem repellat, dolores in ab magni qui sint pariatur. Asperiores ducimus eligendi harum ipsam omnis?
                Veritatis cumque mollitia quo sint nam dicta asperiores aliquid accusamus iure cum nemo accusantium necessitatibus possimus deserunt recusandae consequuntur fuga commodi ut quaerat voluptatem, officia dignissimos. Vel deleniti ipsam cumque.
                Adipisci tempore eum nam voluptate quisquam dolorem ipsam, exercitationem itaque qui? Quis perspiciatis consequuntur iusto officiis assumenda vel optio voluptatum quo qui, nemo porro itaque hic mollitia soluta at laboriosam.
                Reiciendis, voluptas facilis? Sit accusamus optio iusto ipsam perspiciatis, repudiandae aliquam aut. Quibusdam, rerum molestiae dolor ad enim animi exercitationem esse quasi et similique, natus quae? Ipsam suscipit quisquam voluptas!
                Placeat ea consequuntur quod porro deserunt, quisquam veritatis, rem quis numquam aliquam magni saepe quasi itaque tenetur? Aspernatur nemo dignissimos dolor, minus quaerat consequuntur? Soluta asperiores iusto nostrum libero maiores.
                Aut reiciendis aperiam error quis quos, enim minus animi quisquam velit ipsam natus sed neque quo accusantium in! Quis mollitia rem, nostrum labore quisquam vero natus fuga ipsam odit aliquid.
                A quis mollitia corrupti laboriosam ratione ab quas nostrum necessitatibus consequatur nemo hic beatae ullam, maxime labore, rerum qui quisquam maiores? Exercitationem, tempore in! Recusandae eligendi dolorum quas maxime. Doloremque.
            </p>
        </section>
    </main>
    <%- include ('partials/footer.ejs')%>
</body>
</html>